.buscador-container {
  margin-left: 220px; 
  padding: 20px;
}

.buscador-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 16px;
  background: #1d974c;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1d974c;
}

.resultado-card {
  background: #e7f7e7;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 300px;
    width: 20rem
}